<li class='hoot'>	
	<div class='star-holder'>
		<form class='replying' method='post' action='/hoots/reply'>
			<input type='hidden' name='hoot_id' value=<%=hoot.id %>>
		  <button id='reply' class='replying-button' name='favourite' type='submit' >
		  	<img src='http://i.imgur.com/JJ3TOHT.gif' />
		  </button>
		  <div> <%="#{hoot.replies.count} Hoot 'Em Backs"%></div>
		</form>
	</div>
	<div class='description'><%= hoot.content %></div>
	<span class='source'>
		<%= Time.parse(hoot.timestamp).strftime("added at %I:%M%p on %d-%B-%Y by ") %> <%= "#{User.first(:id => hoot.user_id).name} | #{User.first(:id => hoot.user_id).username}" %>
	</span>
</li>
